// yelllow - button color
$main-button-color: #FCB72B;
// dark navy - titles color
$cart-title-color: #495567;
// dim grey - text color
$main-text-color: #939CAA;
// white - header title and text color
$sub-title-color: #FFFFFF;
// snow - dropdown and lists
$faq-dropdown: #F2F5F9;