@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap');
$main-font: 'Space Mono';
$sub-font: 'Lexend Deca';

$h1-size: 56px;
$h2-size: 48px;
$h3-size: 40px;
$h4-size: 24px;
$main-text-size: 15px;