.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

button {
  background: #FCB72B;
  width: 180px;
  height: 53px;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}