.about {
  background: no-repeat url(/img/about.png);
  background-size: cover;
  max-width: 1440px;

  &__container {
    padding: 62px 165px;
  }

  &__title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: $h1-size;
    line-height: $h1-size;
    letter-spacing: -2.5px;
    color: #FFFFFF;
  }
}

.main__about {
  max-width: 1440px;
}

.articles-about {
  max-width: 1440px;
  padding: 77px 165px;

  &:nth-child(2) {
    &>.container {
      flex-direction: row-reverse;
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 220px;
  }

  &__row {
    max-width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
      font-family: $main-font;
      font-style: normal;
      font-weight: 700;
      font-size: $h2-size;
      line-height: $h2-size;
      padding-bottom: 24px;
      letter-spacing: -2.14286px;
      color: $cart-title-color;
    }

    &-text {
      font-family: $sub-font;
      font-style: normal;
      font-weight: 400;
      font-size: $main-text-size;
      line-height: 25px;
      color: $main-text-color;
      padding-bottom: 40px;
    }


    &-img {
      width: 445px;

      & img {
        border-radius: 50%;
      }
    }
  }
}


.values {
  max-width: 1440px;

  &__container {
    max-width: 1440px;
  }

  &__title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: $h2-size;
    line-height: $h2-size;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #495567;
    padding-bottom: 25px;
  }

  &__cart {
    max-width: 1110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 65px;

    &-row {
      width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 78px;

      &-img {
        width: 240px;
        padding-bottom: 40px;
        position: relative;
        padding-bottom: 90px;

        &>img+img {
          width: 96px;
          position: absolute;
          left: 50%;
          right: 0;
          transform: translate(-50%, -50%);
        }
      }

      &-title {
        font-family: $main-font;
        font-style: normal;
        font-weight: 700;
        font-size: $h4-size;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: $cart-title-color;
        padding-bottom: 20px;
      }

      &-text {
        font-family: $sub-font;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #939CAA;
      }
    }
  }
}

.faqs {
  max-width: 1440px;

  &__container {
    max-width: 1440px;
    padding: 0 165px;
  }

  &__title {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    font-size: $h2-size;
    line-height: $h2-size;
    text-align: center;
    letter-spacing: -2.14286px;
    padding-bottom: 64px;
    color: #495567;
  }

  &__row {
    display: flex;
    flex-direction: row;
    gap: 105px;

    &-left {
      max-width: 350px;

      &-title {
        font-family: $main-font;
        font-style: normal;
        font-weight: 700;
        font-size: $h3-size;
        line-height: $h2-size;
        letter-spacing: -1.78571px;
        color: #495567;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 16px;
      width: 730px;

      &-article {
        background: #F2F5F9;
        padding: 32px 40px;
        align-self: center;
      }

      &-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      &-arrow {
        font-size: 34px;
        text-align: center;
        color: $main-button-color;
        cursor: pointer;
      }

      &-title {
        font-family: $sub-font;
        font-style: normal;
        font-weight: 700;
        font-size: $h4-size;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: #495567;
        display: flex;
        flex-direction: space-between;
        position: relative;

        &::after {
          content: "❯";
          font-size: 30px;
          width: 1em;
          height: 1em;
          text-align: center;
          transition: all 0.35s;
          transform: rotateZ(90deg);
          color: $main-button-color;
          position: absolute;
          right: 20px;
          cursor: pointer;
        }
      }

      &-text {
        font-family: $sub-font;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #495567;
        margin-top: 24px;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.35s;
      }
    }
  }
}

.active {
  &+.faqs__row-right-text {
    max-height: 80px;
    transition: max-height 0.35s;
    height: 100%;
  }

  &.faqs__row-right-title::after {
    transform: rotateZ(270deg);
  }
}

.driving {
  max-width: 1440px;
  padding-top: 24px;

  &__container {
    max-width: 1440px;
  }

  &__row {
    display: flex;
    flex-direction: row;
    gap: 105px;
    padding-bottom: 100px;

    &-left {
      max-width: 350px;

      &-title {
        font-family: $main-font;
        font-style: normal;
        font-weight: 700;
        font-size: $h3-size;
        line-height: $h2-size;
        letter-spacing: -1.78571px;
        color: #495567;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 16px;
      width: 730px;

      &-article {
        background: #F2F5F9;
        padding: 32px 40px;
        align-self: center;
      }

      &-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      &-arrow {
        font-size: 34px;
        text-align: center;
        color: $main-button-color;
        cursor: pointer;
      }

      &-title {
        font-family: $sub-font;
        font-style: normal;
        font-weight: 700;
        font-size: $h4-size;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: #495567;
        display: flex;
        flex-direction: space-between;
        position: relative;

        &::after {
          content: "❯";
          font-size: 30px;
          width: 1em;
          height: 1em;
          text-align: center;
          transition: all 0.35s;
          transform: rotateZ(90deg);
          color: $main-button-color;
          position: absolute;
          right: 20px;
          cursor: pointer;
        }
      }

      &-text {
        font-family: $sub-font;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #495567;
        margin-top: 24px;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.35s;
      }
    }
  }
}

.active {
  &+.driving__row-right-text {
    max-height: 80px;
    transition: max-height 0.35s;
    height: 100%;
  }
}