.career__container {
  background: no-repeat url(/img/location.png);
  background-size: cover;
  width: 1440px;
  height: 200px;
}

.main__careers {
  max-width: 1440px;
}

.mission {
  max-width: 1440px;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 77px 165px;
  }

  &__row {
    max-width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
      font-family: $main-font;
      font-style: normal;
      font-weight: 700;
      font-size: $h2-size;
      line-height: $h2-size;
      padding-bottom: 24px;
      letter-spacing: -2.14286px;
      color: $cart-title-color;
    }

    &-text {
      font-family: $sub-font;
      font-style: normal;
      font-weight: 400;
      font-size: $main-text-size;
      line-height: 25px;
      color: $main-text-color;
      padding-bottom: 40px;
    }
  }

  &__left {
    max-width: 452px;
    display: flex;
    justify-content: center;

    &-img {
      width: 445px;

      & img {
        border-radius: 50%;
      }
    }
  }
}

.values {
  max-width: 1440px;

  &__container {
    max-width: 1440px;
    padding: 120px 165px;

  }

  &__title {
    font-family: $main-font;
    font-style: normal;
    font-weight: 700;
    font-size: $h2-size;
    line-height: $h2-size;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #495567;
    padding-bottom: 25px;
  }

  &__cart {
    max-width: 1110px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 65px;

    &-row {
      width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 78px;

      &-img {
        width: 240px;
        padding-bottom: 40px;
        position: relative;
        padding-bottom: 90px;

        &>img+img {
          width: 96px;
          position: absolute;
          left: 50%;
          right: 0;
          transform: translate(-50%, -50%);
        }
      }

      &-title {
        font-family: $main-font;
        font-style: normal;
        font-weight: 700;
        font-size: $h4-size;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: $cart-title-color;
        padding-bottom: 20px;
      }

      &-text {
        font-family: $sub-font;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;


        text-align: center;

        color: #939CAA;
      }
    }
  }
}

.vacancies {
  max-width: 1440px;
  padding: 0 165px 160px;

  &__container {
    max-width: 1110px;
  }

  &__row {
    display: flex;
    flex-direction: column;
    gap: 18px;

    &-top {
      max-width: 1110px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 32px 40px;
      background: #F2F5F9;
    }

    &-article {
      display: flex;
      flex-direction: column;

      &-title {
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: $h4-size;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: #495567;
      }

      &-text {
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: #495567;
      }
    }
  }
}